## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [64]:
# Your code here
sample_list_1=random.sample(range(1,100),k=80)
print(sample_list_1)

[8, 52, 15, 89, 59, 31, 9, 87, 7, 43, 2, 45, 12, 63, 78, 19, 54, 76, 25, 34, 51, 24, 84, 35, 6, 18, 86, 66, 73, 14, 53, 70, 65, 58, 37, 90, 99, 47, 30, 80, 68, 36, 38, 82, 10, 49, 28, 46, 16, 56, 75, 71, 62, 57, 27, 93, 48, 39, 60, 20, 40, 3, 4, 95, 74, 83, 5, 22, 79, 98, 85, 33, 29, 94, 67, 81, 97, 50, 26, 32]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [65]:
# Your code here
set1=set(sample_list_1)
print(set1)

len(set1)
#yes the length of the set is still 80

{2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 14, 15, 16, 18, 19, 20, 22, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 43, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 56, 57, 58, 59, 60, 62, 63, 65, 66, 67, 68, 70, 71, 73, 74, 75, 76, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 89, 90, 93, 94, 95, 97, 98, 99}

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [31]:
# Your code here
sample_list_2=[]
for i in range((80)):
    sample_list_2.append(random.sample(range(100),1)[0])
print(sample_list_2)

[49, 47, 3, 11, 16, 49, 86, 75, 73, 66, 17, 59, 94, 14, 44, 81, 68, 87, 15, 89, 39, 34, 84, 42, 50, 92, 31, 28, 9, 44, 66, 22, 7, 97, 88, 40, 55, 64, 45, 87, 50, 84, 74, 71, 93, 91, 97, 71, 68, 91, 70, 44, 23, 38, 82, 83, 53, 88, 6, 64, 41, 68, 76, 24, 72, 90, 13, 92, 26, 0, 61, 77, 44, 64, 26, 60, 28, 41, 82, 46]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [33]:
# Your code here
set2=set(sample_list_2)
print(set2)
len(set2)

#No its not still 80

{0, 3, 6, 7, 9, 11, 13, 14, 15, 16, 17, 22, 23, 24, 26, 28, 31, 34, 38, 39, 40, 41, 42, 44, 45, 46, 47, 49, 50, 53, 55, 59, 60, 61, 64, 66, 68, 70, 71, 72, 73, 74, 75, 76, 77, 81, 82, 83, 84, 86, 87, 88, 89, 90, 91, 92, 93, 94, 97}

59

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [35]:
# Your code here
set3=list(set(set1)-set(set2))
print(set3)

[1, 2, 4, 5, 8, 10, 12, 18, 20, 21, 25, 27, 29, 30, 32, 33, 35, 36, 37, 43, 48, 51, 52, 54, 56, 57, 58, 62, 63, 67, 78, 79, 80, 85, 95, 96, 98, 99]

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [36]:
# Your code here
set4=list(set(set2)-set(set1))
print(set4)

[0, 68, 73, 42, 74, 75, 76, 14, 46, 50, 82, 87, 24, 89, 91, 92, 61]

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [60]:
# Your code here
set5=set2.intersection(set1)
print(set5)

{3, 6, 7, 9, 11, 13, 15, 16, 17, 22, 23, 26, 28, 31, 34, 38, 39, 40, 41, 44, 45, 47, 49, 53, 55, 59, 60, 64, 66, 70, 71, 72, 77, 81, 83, 84, 86, 88, 90, 93, 94, 97}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

80

#### Create an empty set called `set6`.

In [51]:
# Your code here
set6=set()
set6

set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [53]:
# Your code here
set6.update(set3,set5)
print(set6)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 15, 16, 17, 18, 20, 21, 22, 23, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 43, 44, 45, 47, 48, 49, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 62, 63, 64, 66, 67, 70, 71, 72, 77, 78, 79, 80, 81, 83, 84, 85, 86, 88, 90, 93, 94, 95, 96, 97, 98, 99}

#### Check if `set1` and `set6` are equal.

In [54]:
# Your code here
if set1==set6:
    print("set1 and set6 are equal")
else:
    print("set1 and set6 are no equal")

set1 and set6 are equal

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [62]:
# Your code here
z=set2.issubset(set1)
print(z)

y=set1.issubset(set3)
print(y)

False
False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [59]:
# Your code here
set7=set()
set8=set()
set7=set7.union(set3,set4,set5)
print(set7)

set8=set8.union(set1,set2)
print(set8)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 66, 67, 68, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 66, 67, 68, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}

#### Using the `pop` method, remove the first element from `set1`.

In [ ]:
# Your code here

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [ ]:
# Your code here